<div style="display: flex; flex-direction: column; height:100%">
  <app-header
    style="display: flex; background-color: cornflowerblue; "
    [headerHeight]="headerHeight"
    (startAnimate)="toggleMove()">

  </app-header>

  <div style="display: flex; flex: 1;">

    <app-left-side [leftWidth]="leftWidth" style="background-color: crimson">
    </app-left-side>

    <app-content style="flex: 1; background-color: bisque">
    </app-content>

    <app-right-side [rightWidth]="rightWidth" style="background-color: crimson">
    </app-right-side>

  </div>
</div>




